<template>
  <el-form
    :inline="true"
    :model="formInline"
    class="demo-form-inline"
    ref="searchForm"
  >
    <el-form-item
      label="参数名称"
      prop="name"
    >
      <el-input
        v-model="formInline.name"
        placeholder="请输入名称"
      ></el-input>
    </el-form-item>

    <el-form-item>
      <el-button
        type="primary"
        @click="onSubmit"
      >查询</el-button>

      <el-button
        type="primary"
        @click="onReset"
        plain
      >取消</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  data() {
    return {
      formInline: {
        name: ''
      }
    }
  },
  methods: {
    onSubmit() {
      console.log('submit!', this.formInline)
    },
    onReset() {
      console.log('reset')
      this.$refs.searchForm.resetFields()
    }
  }
}
</script>

<style lang="less" scoped>
  .demo-form-inline {
    // text-align: center;
  }
</style>
