<template>
  <div class="dictionary">
    <el-card>
      <dic-search />
    </el-card>
    <el-card :style="{marginTop: '8px'}">
      <dic-table />
      <dic-pagination />
    </el-card>
    <el-card :style="{marginTop: '8px'}">
      <dic-item-table />
      <dic-pagination />
    </el-card>
  </div>
</template>

<script>
import DicSearch from './components/Search'
import DicTable from './components/Table'
import DicPagination from './components/Pagination'
import DicItemTable from './components/CTable'

export default {
  name: 'Dictionary',
  components: {
    DicSearch,
    DicTable,
    DicPagination,
    DicItemTable
  }
}
</script>
