<template>
  <div class="dictionary">
    <el-card>
      <param-search />
    </el-card>
    <el-card :style="{marginTop: '8px'}">
      <param-table />
      <param-pagination />
    </el-card>
  </div>
</template>

<script>
import ParamSearch from './components/Search'
import ParamTable from './components/Table'
import ParamPagination from './components/Pagination'

export default {
  name: 'Parameter',
  components: {
    ParamSearch,
    ParamTable,
    ParamPagination
  }
}
</script>
