<template>
  <el-form
    :inline="true"
    :model="formInline"
    class="demo-form-inline"
    ref="searchForm"
  >
    <el-form-item label="部门名称" prop="name">
      <el-input
        v-model="formInline.name"
        placeholder="请输入部门"
      ></el-input>
    </el-form-item>

    <el-form-item label="部门级别" prop="level">
      <el-select
        v-model="formInline.level"
        placeholder="请选择级别"
      >
        <el-option
          label="区域一"
          value="shanghai"
        ></el-option>
        <el-option
          label="区域二"
          value="beijing"
        ></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="部门状态" prop="status">
      <el-select
        v-model="formInline.status"
        placeholder="请选择状态"
      >
        <el-option
          label="有效"
          value="0"
        >
        </el-option>
        <el-option
          label="无效"
          value="1"
        >
        </el-option>
      </el-select>
    </el-form-item>

    <el-form-item>
      <el-button
        type="primary"
        @click="onSubmit"
      >查询</el-button>

      <el-button
        type="primary"
        @click="onReset"
        plain
      >重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  data() {
    return {
      formInline: {
        name: '',
        level: '',
        status: ''
      }
    }
  },
  methods: {
    onSubmit() {
      console.log('submit!', this.formInline)
    },
    onReset() {
      console.log('reset')
      this.$refs.searchForm.resetFields()
    }
  }
}
</script>
