<template>
  <div class="sider-container">
    <el-tree
    ref="tree"
    :data="data"
    show-checkbox
    node-key="id"
    :default-expanded-keys="[1, 2, 3]"
    :default-checked-keys="[5]"
    :props="defaultProps"
    @check-change="checkChange"
  >
  </el-tree>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [
        {
          id: 1,
          label: '一级部门名称',
          children: [
            {
              id: 4,
              label: '二级部门名称',
              children: [
                {
                  id: 9,
                  label: '三级部门名称'
                },
                {
                  id: 10,
                  label: '三级部门名称'
                }
              ]
            }
          ]
        },
        {
          id: 2,
          label: '一级部门名称',
          children: [
            {
              id: 5,
              label: '二级部门名称'
            },
            {
              id: 6,
              label: '二级部门名称'
            }
          ]
        },
        {
          id: 3,
          label: '一级部门名称',
          children: [
            {
              id: 7,
              label: '二级部门名称'
            },
            {
              id: 8,
              label: '二级部门名称'
            }
          ]
        }
      ],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  methods: {
    checkChange(data, node, other) {
      this.getCheckedKeys()
    },
    getCheckedKeys() { // 获取已选中节点的id  [id, id, id]
      console.log(this.$refs.tree.getCheckedKeys())
    }
  }
}
</script>
