 <template>
  <div>
    <div class="table-operation">
      <el-button
        @click="exportTable"
        icon="el-icon-document"
        type="primary"
      >全量导出</el-button>
      <el-button
        type="primary"
        plain
        @click="handleAdd"
      ><i class="el-icon-plus" />新增</el-button>
    </div>
    <el-table
      :data="tableData"
      style="width: 100%"
    >
      <el-table-column
        prop="id"
        label="角色id"
      >
      </el-table-column>

      <el-table-column
        prop="name"
        label="角色名称"
        width="180"
      >
      </el-table-column>

      <el-table-column
        prop="status"
        label="角色状态"
      >
        <template slot-scope="scope">
          {{statusText[tableData[scope.$index].status]}}
        </template>
      </el-table-column>

      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            @click.native.prevent="editRow(scope.$index, scope.row)"
            type="text"
            size="small"
          >
            编辑
          </el-button>

          <el-button
            v-if="tableData[scope.$index].status === 0"
            @click.native.prevent="validRow(scope.$index, scope.row)"
            type="text"
            size="small"
          >
            {{'置' + statusText[tableData[scope.$index].status + 1]}}
          </el-button>

          <el-button
            v-else
            @click.native.prevent="invalidRow(scope.$index, scope.row)"
            type="text"
            size="small"
          >
            {{'置' + statusText[tableData[scope.$index].status - 1]}}
          </el-button>

          <el-button
            @click.native.prevent="hanldePermission(scope.$index, scope.row)"
            type="text"
            size="small"
          >
            分配权限
          </el-button>

          <el-button
            @click.native.prevent="deleteRow(scope.$index, scope.row)"
            type="text"
            size="small"
          >
            移除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="新增部门"
      :visible.sync="dialogVisible"
    >
      <el-form
        class="addForm"
        ref="newAddForm"
        :model="addForm"
        :rules="rules"
        label-position="right"
        label-width="100px"
      >
        <el-form-item
          label="部门名称:"
          prop="name"
        >
          <el-input
            class="add-input"
            v-model="addForm.name"
            placeholder="请输入部门"
          ></el-input>
        </el-form-item>
        <el-form-item label="上级部门:">
          <el-select
            v-model="addForm.prevLevel"
            class="add-select"
          >
            <el-option
              label="boss"
              value="1"
            >
            </el-option>
            <el-option
              label="user"
              value="2"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm"
        >提 交</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
const messageBox = {
  validMessage: {
    title: '是否确定将部门置为无效？',
    content: '置无效后，该部门下的用户也将置为无效'
  },
  invalidMessage: {
    title: '是否确定将部门置为有效？',
    content: '置有效后，该部门下的用户也将置为有效'
  },
  deleteMessage: {
    title: '',
    content: '是否确定将部门删除？'
  },
  notDeleteMessage: {
    title: '该部门不可直接删除！',
    content: '(该部门与用户、角色或其他部门关联，须解除关联关系后才可删除)'
  }
}

export default {
  data() {
    return {
      addForm: {
        name: '',
        prevLevel: ''
      },
      rules: {
        name: [
          {
            required: true,
            message: '请输入部门名称',
            trigger: 'blur'
          },
          { min: 1, max: 15, message: '长度在 1 到 15 个字符', trigger: 'blur' }
        ]
      },
      dialogVisible: false,
      tableData: [
        {
          id: 1,
          name: '管理员',
          status: 0,
          isDelete: 0
        },
        {
          id: 2,
          name: '角色名2',
          status: 1,
          isDelete: 1
        },
        {
          id: 3,
          name: '角色名3',
          status: 0,
          isDelete: 1
        }
      ]
    }
  },
  methods: {
    hanldePermission(index, row) {
      console.log('分配权限', index, row)
    },
    handleAdd() {
      this.dialogVisible = true
    },
    submitForm() {
      console.log('新增数据')
      this.$refs.newAddForm.validate(valid => {
        if (valid) {
          console.log('valid', valid, this.addForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    exportTable() {
      window.location.href =
        'https://www.baidu.com/link?url=TPlLu-kXteSTmKaibN4aiYWiVtTNWPPIsduLDMjNG3oN2OYbopDNaz5b8PFfwAbTpTRQ-fV-ULLVoBNAIAkIIK&amp;wd=&amp;eqid=fcf367270002325f000000025d669e9a'
    },
    editRow(index, row) {
      console.log('编辑', index, row)
    },
    deleteRow(index, row) {
      console.log('删除', index, row)
      if (row.isDelete === 0) {
        this.deleteConfirm()
      } else {
        this.notDeleteConfrim()
      }
    },
    deleteConfirm() {
      const { title, content } = this.deleteMessage
      this.confirmMessage({
        title,
        content,
        success: () => {
          console.log('确定删除')
        },
        cancel: () => {
          console.log('取消删除')
        }
      })
    },
    notDeleteConfrim() {
      const { title, content } = this.notDeleteMessage
      this.$alert(content, title, {
        confirmButtonText: '知道了',
        center: true
      }).then(action => {
        console.log(action)
      })
    },
    validRow(index, row) {
      console.log('有效', index, row)
      const { title, content } = this.validMessage
      this.confirmMessage({
        title,
        content,
        success: () => {
          console.log('点击确定')
        },
        cancel: () => {
          console.log('点击取消')
        }
      })
    },
    invalidRow(index, row) {
      console.log('无效', index, row)
      const { title, content } = this.invalidMessage
      this.confirmMessage({
        title,
        content,
        success: () => {
          console.log('点击确定')
        },
        cancel: () => {
          console.log('点击取消')
        }
      })
    },
    confirmMessage(options) {
      this.$confirm(options.content, options.title, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        center: true
      })
        .then(options.success)
        .catch(options.cancel)
    }
  },
  created() {
    this.statusText = ['有效', '无效']
    this.validMessage = messageBox.validMessage
    this.invalidMessage = messageBox.invalidMessage
    this.deleteMessage = messageBox.deleteMessage
    this.notDeleteMessage = messageBox.notDeleteMessage
  }
}
</script>

<style lang="less" scoped>
.table-operation {
  display: flex;
  justify-content: space-between;
}
.addForm {
  width: 290px;
  margin: 0 auto;
  text-align: center;
  .add-input,
  .add-select {
    width: 200px;
  }
}
</style>
