<template>
  <div class="department">
    <el-row :gutter="8">
      <el-col :span="5">
        <el-card class="department-sider">
          <div class="tree-header">
            <h3>组织架构图</h3>
            <svg-icon icon-class="list" />
          </div>
          <c-tree></c-tree>
        </el-card>
      </el-col>
      <el-col :span="19">
        <el-card class="department-search">
          <c-search />
        </el-card>
        <el-card class="department-content">
          <c-table />
          <c-pagination />
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import CTree from './components/CTree'
import CSearch from './components/CSearch'
import CTable from './components/CTable'
import CPagination from './components/CPagination'

export default {
  name: 'User',
  components: {
    CTree,
    CSearch,
    CTable,
    CPagination
  }
}
</script>

<style lang="less" scoped>
.department {
  &-sider {
    background-color: #ffffff;
    // padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    .tree-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-content {
    margin-top: 8px;
    height: 100%;
  }
}
</style>
