<template>
  <div class="roles">
    <el-card>
      <role-search />
    </el-card>
    <el-card :style="{marginTop: '8px'}">
      <role-table />
      <role-pagination />
    </el-card>
  </div>
</template>

<script>
import RoleSearch from './components/Search'
import RoleTable from './components/Table'
import RolePagination from './components/Pagination'

export default {
  name: 'Roles',
  components: {
    RoleSearch,
    RoleTable,
    RolePagination
  }
}
</script>
